.App {
  background-color: #087f5b;
  height: 100vh;
  width: 100vw;
}
.search-bar-container {
  padding-top: 30vh;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
